## [Start] Setting "workshopId" to default value of "c9443826-b0c3-4def-91d1-503ce4a27c7d". **
$util.qr($context.args.input.put("workshopId", $util.defaultIfNull($ctx.args.input.workshopId, "c9443826-b0c3-4def-91d1-503ce4a27c7d")))
## [End] Setting "workshopId" to default value of "c9443826-b0c3-4def-91d1-503ce4a27c7d". **
{}