## [Start] Set the primary @key. **
#set( $modelObjectKey = {
  "assignmentId": $util.dynamodb.toDynamoDB($ctx.args.assignmentId),
  "memberId": $util.dynamodb.toDynamoDB($ctx.args.memberId)
} )
## [End] Set the primary @key. **
{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": #if( $modelObjectKey ) $util.toJson($modelObjectKey) #else {
  "id": $util.dynamodb.toDynamoDBJson($ctx.args.id)
} #end
}